{% extends 'base.html' %}

{% block content %}

<div class="container-fluid ">

        <h1 class="text-center mb-4 fw-bold">Our Menu</h1>

{%for pizza in all_pizzas%}

    <div class="card pizza_card m-3 ">
         <img src="{{url_for('static',filename=pizza.image)}}" alt="{{pizza.name}}" class="pizza_image">
         <h2 class="px-3 mt-4">{{pizza.name}}</h2>
            <h3 class="px-3">{{pizza.description[:30] }}---</h3>
            <p class="px-3">Size: {{pizza.size}}</p>
            <p class="px-3"><strong>Kshs. {{pizza.price}}</strong></p>

<div class="form-group mb-4 mt-4">
            <div class="row">

                <input type="submit" id="ord_btn" class="btn btn-primary btn-lg" name="addpizza" value="Add Pizza" required>

            </div>
          </div>
<!--        <div class="card-footer">-->

<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <button class="btn btn-primary">-->
<!--                <a class="text-white" href="{{url_for('main.edit',id=pizza.id)}}">Update</a>-->
<!--            </button>-->
<!--                </div>-->
<!--                <div class="col-md-4"></div>-->
<!--                <div class="col-md-4">-->
<!--                      <button class="btn btn-danger">-->
<!--                <a class="text-white" href="{{url_for('main.delete',id=pizza.id)}}">Delete</a>-->
<!--            </button>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
    </div>

{%endfor%}
</div>
{% endblock %}